/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
}


@keyframes bounceV {
  from { transform: translate3d(0, 0, 0);}
  to { transform: translate3d(0, 15px, 0);}
}

@keyframes bounceH {
  from { transform: translate3d(0, 0, 0);}
  to { transform: translate3d(5px, 0, 0);}
}

.logo-bounce {
  animation: bounceV 4s cubic-bezier(0.5, 0.1, .7, 0.5);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.btn-icon-bounce {
  animation: bounceH .5s cubic-bezier(0.5, 0.1, .7, 0.5);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}